.works{
    background-image: url(../../img/works_img1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 90px 0;
}
.works_title{
    p{
        font-size: 16px;
        color: $color-white;
        text-align: center;
    }
    h1{
        font-size: 30px;
        color: $color-white;
        text-align: center;
        padding: 10px 0 5% 0;
    }
}
.works_items{
    @include grid(1fr 1fr 1fr 1fr, 30px);
}
.works_item{
    @include grid(1fr, 10px);

    h1{ 
        font-size: 30px; 
        color: #22437D; 
        width: 70px ; 
        height: 70px; 
        background-color: $color-white;  
        @include flex(center, center, 0); 
        border-radius: 30px; 
    }
    h2{
        font-size: 22px;
        color: $color-white;
    }
    p{
        font-size: 14px;
        color: $color-white;
        line-height: 160%;
    }
}

@media (max-width: 1100px){
    .works_items{
        @include grid(1fr 1fr 1fr, 30px);
    }
}
@media (max-width: 800px){
    .works_items{
        @include grid(1fr 1fr, 30px);
    }
}
@media (max-width: 550px){
    .works_items{
        @include grid(1fr, 30px);
    }
}