@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&display=swap");
.header {
  background-image: url(../../img/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  background-color: transparent;
  padding: 30px 0;
}
.navbar_top button {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 16px;
}

.navbar_showcase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 0;
}
.navbar_showcase_text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 50%;
}
.navbar_showcase_text h1 {
  font-size: 50px;
  color: #fff;
}
.navbar_showcase_text p {
  font-size: 15px;
  color: #fff;
  line-height: 220%;
}
.navbar_showcase_text_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.navbar_showcase_text_btn button {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  color: #0F2137;
  font-size: 16px;
}
.navbar_showcase_text_btn h2 {
  font-size: 14px;
  color: #fff;
}
.navbar_showcase_text_btn h2 i {
  color: #fff;
  padding-right: 10px;
  font-size: 25px;
}
.navbar_showcase_text_end {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.navbar_showcase_text_end img {
  width: 10%;
}
.navbar_showcase_img {
  width: 30%;
}

#check {
  display: none;
}

.menu {
  font-size: 20px;
  color: #fff;
  display: none;
}

.closed {
  color: #fff;
  font-size: 20px;
  display: none;
}

.navbar_top_a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.navbar_top_a a {
  font-size: 14px;
  color: #fff;
}
.navbar_top_a a i {
  font-size: 16px;
  color: #fff;
  padding-left: 5px;
}

@media (max-width: 1000px) {
  .navbar_showcase_img {
    width: 40%;
  }
  .navbar_showcase_text {
    width: 60%;
  }
  .navbar_showcase_text h1 {
    font-size: 32px;
  }
  .navbar_showcase_text p {
    font-size: 12px;
  }
  .navbar_showcase_text_btn button {
    width: 120px;
    height: 30px;
    font-size: 13px;
  }
  .navbar_showcase_text_btn h2 {
    font-size: 12px;
  }
  .navbar_showcase_text_btn h2 i {
    font-size: 20px;
  }
  .navbar_showcase_text_end {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .navbar_showcase_text_end img {
    width: 10%;
  }
}
@media (max-width: 800px) {
  .navbar_top_a {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    background-color: #0F2137;
    flex-direction: column;
    justify-content: space-between;
    padding: 15% 0;
    transition: right 0.5s;
  }
  .navbar_top_a a:nth-of-type(1) {
    order: 3;
  }
  .navbar_top_a a:nth-of-type(2) {
    order: 1;
  }
  .navbar_top_a a:nth-of-type(3) {
    order: 2;
  }
  .navbar_top_a a:nth-of-type(4) {
    order: 4;
  }
  .closed {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #check:checked ~ .navbar_top_a {
    right: 0;
  }
  .menu {
    display: block;
    order: 3;
  }
  .navbar_top button {
    width: 120px;
    height: 40px;
    font-size: 13px;
    order: 1;
  }
  .navbar_top img {
    order: 2;
  }
}
@media (max-width: 550px) {
  .navbar_showcase {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .navbar_showcase_text {
    width: 100%;
  }
  .navbar_showcase_img {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  .navbar_showcase_text h1 {
    font-size: 20px;
  }
  .navbar_showcase_text p {
    font-size: 9px;
    line-height: 150%;
  }
  .navbar_showcase_text_btn button {
    width: 80px;
    height: 30px;
    font-size: 9px;
  }
  .navbar_showcase_text_btn h2 {
    font-size: 12px;
  }
  .navbar_showcase_text_btn h2 i {
    font-size: 20px;
    padding-right: 5px;
  }
  .navbar_top button {
    width: 80px;
    height: 30px;
    font-size: 9px;
  }
  .navbar_top img {
    width: 40%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

body {
  font-family: "DM Sans", sans-serif;
}

.feature_title {
  text-align: center;
  padding-top: 5%;
}
.feature_title p {
  font-size: 15px;
  color: #244886;
  font-weight: 500;
}
.feature_title h1 {
  font-size: 30px;
  color: #0F2137;
  padding: 10px 0 30px 0;
}

.feature_items {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 2%;
  padding-top: 10%;
}

.feature_item {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
}
.feature_item h2 {
  font-size: 18px;
  color: #0F2137;
  text-align: center;
}
.feature_item p {
  font-size: 15px;
  color: #343D48;
  text-align: center;
}

@media (max-width: 850px) {
  .feature_items {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;
  }
}
@media (max-width: 700px) {
  .feature_item h2 {
    font-size: 15px;
  }
  .feature_item p {
    font-size: 11px;
  }
}
@media (max-width: 370px) {
  .feature_title p {
    font-size: 14px;
  }
  .feature_title h1 {
    font-size: 22px;
  }
  .feature_items {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
  }
  .feature_item h2 {
    font-size: 18px;
  }
  .feature_item p {
    font-size: 14px;
  }
}
.smart > div {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 20%;
  align-items: center;
  padding: 30px 0;
}

.smart_text {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.smart_text p {
  font-size: 16px;
  color: #244886;
}
.smart_text h1 {
  font-size: 30px;
  color: #0F2137;
}
.smart_text_items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.smart_text_item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.1), -3px -3px 3px rgba(128, 128, 128, 0.1);
  width: 100%;
}
.smart_text_item_ {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.smart_text_item_ h2 {
  font-size: 18px;
  color: #0F2137;
}
.smart_text_item_ p {
  font-size: 15px;
  color: #343D48;
}
.smart_text_item_img {
  background-color: rgba(255, 0, 0, 0.17);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border-radius: 15px;
}
.smart_text_item_img img {
  padding: 20px;
  width: 20px;
}

.smart_img {
  width: 100%;
}
.smart_img img {
  width: 100%;
}

@media (max-width: 1000px) {
  .smart > div {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    padding-top: 10%;
  }
}
@media (max-width: 800px) {
  .smart > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .smart_img {
    width: 70%;
    margin: 0 auto;
    order: 2;
  }
  .smart_text {
    order: 1;
  }
}
@media (max-width: 400px) {
  .smart_img {
    width: 100%;
  }
  .smart_text h1 {
    font-size: 22px;
  }
  .smart_text_item h2 {
    font-size: 14px;
  }
  .smart_text_item p {
    font-size: 10px;
  }
  .smart_text_item_img img {
    padding: 15px;
    width: 15px;
  }
}
.meet_title {
  text-align: center;
}
.meet_title p {
  font-size: 16px;
  color: #244886;
}
.meet_title h1 {
  font-size: 30px;
  color: #0F2137;
  padding-top: 10px;
}

.meet_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 45px;
  padding: 10% 0;
}

.meet_item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.meet_item_img {
  width: 55%;
}
.meet_item_text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.meet_item_text h2 {
  font-size: 18px;
  color: #0F2137;
}
.meet_item_text p {
  font-size: 14px;
  color: #343D48;
}

@media (max-width: 1000px) {
  .meet_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
@media (max-width: 700px) {
  .meet_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .meet_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .meet_title p {
    font-size: 14px;
  }
  .meet_title h1 {
    font-size: 22px;
  }
}
.world > div {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  gap: 30px;
  align-items: center;
}

.world_text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.world_text h2 {
  font-size: 16px;
  color: #244886;
}
.world_text h1 {
  font-size: 30px;
  color: #0F2137;
}
.world_text p {
  font-size: 16px;
  color: #343D48;
}
.world_text button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #244886;
  color: #fff;
  font-size: 15px;
}

@media (max-width: 1000px) {
  .world > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 900px) {
  .world_text h1 {
    font-size: 22px;
  }
  .world_text p {
    font-size: 11px;
  }
  .world_text button {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .world > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .world_text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .world_text h2 {
    font-size: 16px;
    color: #244886;
  }
  .world_text h1 {
    font-size: 30px;
    color: #0F2137;
  }
  .world_text p {
    font-size: 16px;
    color: #343D48;
  }
  .world_text button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #244886;
    color: #fff;
    font-size: 15px;
  }
}
@media (max-width: 360px) {
  .world_text h1 {
    font-size: 22px;
  }
  .world_text p {
    font-size: 11px;
  }
  .world_text button {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }
}
.works {
  background-image: url(../../img/works_img1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 0;
}

.works_title p {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.works_title h1 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  padding: 10px 0 5% 0;
}

.works_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.works_item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.works_item h1 {
  font-size: 30px;
  color: #22437D;
  width: 70px;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border-radius: 30px;
}
.works_item h2 {
  font-size: 22px;
  color: #fff;
}
.works_item p {
  font-size: 14px;
  color: #fff;
  line-height: 160%;
}

@media (max-width: 1100px) {
  .works_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 800px) {
  .works_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 550px) {
  .works_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.footer > div {
  border-top: 0.5px solid rgba(128, 128, 128, 0.206);
  margin-top: 30px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
}

.footer_card h2 {
  font-size: 20px;
  color: #0F2137;
  padding-bottom: 20px;
}
.footer_card ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.footer_card ul li a {
  font-size: 14px;
  color: #343D48;
}

@media (max-width: 900px) {
  .footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-items: flex-start;
  }
}
@media (max-width: 650px) {
  .footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 400px) {
  .footer > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
  }
  .footer_card {
    text-align: center;
  }
  .footer_card ul {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
